@charset "UTF-8";


/* common */

body {
  background: #fff;
  font-family: 'Nanum Myeongjo' , serif;
 }

/* mainvisual */
.mainvisual img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 38px 30px 0 38px ;
  
}
/* header */
header {
 padding: 33px 38px;
 
}
header .inner {
  align-items: center;
  display: flex;
 
}

.logo {
   width: 110px; 
   height: 100%;
   padding-right: 50px;
  }

  ul  {
    display: flex;
    list-style: none;
  }


  li  a {
    color: #2d2d2d;
    font-size: small;
    font-weight: bold;
    
    text-decoration: none;
    margin-right: 30px;
 }

/*  container content */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
  margin-top: 30px ;
}

.content section {
  display: flex;
  align-items: center;
 
  margin-bottom: 60px;
 
 
}
section .text {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 51px 52px;
  
}


section img {
  width: 50%;
  height: auto;
 
}

.text h2 {
  font-size:24px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 4px;
}

.text h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 25px;
}

.text p {
  font-size: 16px;
  line-height: 1.5;
}

@media(max-width: 767px)  {
  
  .mainvisual img {
    box-sizing: content-box;
    width: 100%;
    height: auto;
    padding: 0;
  }

  header {
    padding: 20px 18px;
  }
  .container {
    padding: 0 18px;
  }
  .content  .concept  {
    flex-direction: column;
  
  }
  .content .work {
    flex-direction: column-reverse;
  }
  
  .content .text {
    width: 100%;
    padding: 0;
  }
  
  .content img {
    width: 100%;
    margin-bottom: 10px;
    
  }

  .text h2 {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .text h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }

 

}

/* footer */
footer .inner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 110px;
}

footer small {
  font-size: small;
  font-weight: bold;
}


